.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f8f3b1;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
    padding: 1rem 3rem;
    margin: 5rem 18rem;   
}

.cartTitulo {
    font-family: "donau";
    font-size: 3rem;
    font-weight: bold;
}

.cartObras {
    width: 100%;
    margin: 0.3rem;
}

.cartTotales {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem 3rem;
}

.info {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0rem 2rem 0rem 2rem;
}

.cartSinObras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartMensaje {
    font-family: "monserrat";
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    padding: 0.2rem;
    margin: 1rem;
}

.cartBotonInicio {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    background-color: #faff03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    width: 20rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    transition: 0.3s;
}

.cartBotonInicio:hover {
    font-size: 1.7rem;
    cursor: pointer;
}

.itemCart {
    display: grid;
    grid-template-columns: 10rem 24rem 7rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.1rem;
    margin: 0.1rem;
}

.itemCartImg {
    display: grid;
    grid-column: 1;
    width: 7rem;
    height: 7rem;
    margin: 0.5rem 1.5rem;
}

.itemCartDescripcion {
    display: grid;
    grid-column: 2;
    font-family: "monserrat";
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
}

.itemCartBorrar {
    display: grid;
    grid-column: 3;
    justify-content: flex-end;
    margin-left: 2rem;
}

.itemCartTacho {
    width: 2rem;
    height: 2rem;
    color: #ff0303;
    background-color: #000000;
    transition: 0.5s;
    padding: 0.3rem;
    margin: 0.5rem 3rem;
}

.itemCartTacho:hover {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 0.1rem;
}

.cartBotonComprar {
    display: flex;
    justify-content: center;
    font-family: "donau";
    font-size: 2.5rem;
    font-weight: bold;
    word-spacing: 0.3rem;
    text-align: center;
    color: #000000;
    background-color: #ff5e03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem; 
    width: 25rem; 
    padding: 0.5rem;
    margin: 0.8rem 8rem;
    transition: 0.3s;
}

.cartBotonComprar:hover {
    font-size: 3rem;
    box-shadow: 0.7rem 0.7rem 0.7rem #000000;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cart {
        margin: 5rem 4rem;   
    }
    
    .cartTitulo {
        font-size: 2.5rem;
    }
    
    .cartObras {
        margin: 0.1rem;
    }
    
    .cartTotales {
        padding: 0.3rem;
        margin: 0.3rem 1rem;
    }
    
    .info {
        margin: 0rem 1rem;
    }
    
    .cartMensaje {
        font-size: 1.5rem;
    }
    
    .cartBotonInicio {
        font-size: 1.3rem;
        width: 18rem;
    }
    
    .cartBotonInicio:hover {
        font-size: 1.5rem;
    }
    
    .itemCart {
        grid-template-columns: 8rem 20rem 6rem;
        margin: 0.5rem 0rem;
    }
    
    .itemCartImg {
        width: 8rem;
        height: 8rem;
        margin: 0.5rem 0.5rem;
    }
    
    .itemCartDescripcion {
        font-size: 1.3rem;
        padding: 1rem;
        margin: 0.3rem;
    }
    
    .itemCartBorrar {
        margin-left: 1rem;
    }
    
    .itemCartTacho {
        width: 1.8rem;
        height: 1.8rem;
    }
    
    .itemCartTacho:hover {
        width: 2rem;
        height: 2rem;
    }
    
    .cartBotonComprar {
        font-size: 2rem;
        width: 20rem; 
        margin: 0.8rem 7rem;
    }
    
    .cartBotonComprar:hover {
        font-size: 2.5rem;
    }
}

@media (max-width: 320px) {
    .cart {
        padding: 0.5rem 0.1rem;
        margin: 5rem 1rem 0rem 1rem;   
    }
      
    .cartTitulo {
        font-size: 2rem;
        margin-left: 0.3rem;
    }

    .cartObras {
        width: 100%;
        margin: 0.1rem;
    }

    .cartTotales {
        display: flex;
        justify-content: center;
        padding: 0.2rem;
        margin: 0.5rem 0.2rem;
    }

    .info {
        font-size: 1rem;
        margin: 0rem 0.7rem;
    }

    .cartMensaje {
        font-size: 1.3rem;
        margin: 0.5rem;
    }

    .cartBotonInicio {
        font-size: 1.1rem;
        width: 15rem;
    }

    .cartBotonInicio:hover {
        font-size: 1.3rem;
    }

    .itemCart {
        grid-template-columns: 4rem 12rem 2rem;
        padding: 0.1rem;
        margin: 0.1rem;
    }

    .itemCartImg {
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
    }

    .itemCartDescripcion {
        font-size: 1rem;
        padding: 1rem;
        margin: 0.2rem;
    }

    .itemCartBorrar {
        margin-left: 1rem;
    }

    .itemCartTacho {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.1rem;
    }

    .itemCartTacho:hover {
        width: 2rem;
        height: 2rem;
    }

    .cartBotonComprar {
        font-size: 1.5rem;
        width: 14rem; 
        padding: 0.3rem;
        margin: 0.8rem 1.7rem;
    }

    .cartBotonComprar:hover {
        font-size: 1.8rem;
        box-shadow: 0.7rem 0.7rem 0.7rem #000000;
    }
}