.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f8f3b1;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
    padding: 1rem 3rem;
    margin: 5rem 18rem;   
}

.cartTitulo {
    font-family: "donau";
    font-size: 3rem;
    font-weight: bold;
}

.cartObras {
    width: 100%;
    margin: 0.3rem;
}

.cartTotales {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem 3rem;
}

.info {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0rem 2rem 0rem 2rem;
}

.cartSinObras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartMensaje {
    font-family: "monserrat";
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    color: #000000;
    padding: 0.2rem;
    margin: 1rem;
}

.cartBotonInicio {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    background-color: #faff03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    width: 20rem;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    transition: 0.3s;
}

.cartBotonInicio:hover {
    font-size: 1.7rem;
    cursor: pointer;
}

.itemCart {
    display: grid;
    grid-template-columns: 10rem 24rem 7rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.1rem;
    margin: 0.1rem;
}

.itemCartImg {
    display: grid;
    grid-column: 1;
    width: 7rem;
    height: 7rem;
    margin: 0.5rem 1.5rem;
}

.itemCartDescripcion {
    display: grid;
    grid-column: 2;
    font-family: "monserrat";
    font-size: 1.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
}

.itemCartBorrar {
    display: grid;
    grid-column: 3;
    justify-content: flex-end;
    margin-left: 2rem;
}

.itemCartTacho {
    width: 2rem;
    height: 2rem;
    color: #ff0303;
    background-color: #000000;
    transition: 0.5s;
    padding: 0.3rem;
    margin: 0.5rem 3rem;
}

.itemCartTacho:hover {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 0.1rem;
}

.cartBotonComprar {
    display: flex;
    justify-content: center;
    font-family: "donau";
    font-size: 2.5rem;
    font-weight: bold;
    word-spacing: 0.3rem;
    text-align: center;
    color: #000000;
    background-color: #ff5e03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem; 
    width: 25rem; 
    padding: 0.5rem;
    margin: 0.8rem 8rem;
    transition: 0.3s;
}

.cartBotonComprar:hover {
    font-size: 3rem;
    box-shadow: 0.7rem 0.7rem 0.7rem #000000;
    cursor: pointer;
}