.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff5403;
    border: solid #000000 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
    font-family: "monserrat";
    padding: 1rem 3rem;
    margin: 5rem 22rem;  
}

.formularioTitulo { 
    font-family: "donau";
    font-size: 3rem;
    color: #000000;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    margin: 0.5rem;
}

.formularioSubtitulo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.8rem;
    color: #000000;
    margin: 0.5rem;
}

.formularioItem {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: #000000;
    margin: 1.2rem;
}

.formularioItem input {   
    font-size: 1.3rem;
    width: 20rem;
    border: solid #000000 0.1rem;
    border-radius: 0.5rem;
    padding: 0.3rem;    
    margin-left: 0.7rem;
}

.formularioItem input:hover {
    background-color: #faff03;
}

.formularioBoton {
    display: flex;
    justify-content: center;
    font-family: "donau";
    font-weight: bold;
    font-size: 2rem;
    word-spacing: 0.3rem;
    text-align: center;
    color: #000000;
    background-color: #faff03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;
    width: 15rem;  
    padding: 0.5rem;
    margin: 0.8rem 8rem;
    transition: 0.3s;
}

.formularioBoton:hover {
    font-size: 2.5rem;
    cursor: pointer;
}

/*modificación del alerta*/
.swal-title {
    color: #000000;
    font-family: "donau";
    padding: 1.3rem 1.6rem;
    font-size: 2.5rem;
}

.swal-text {
    font-family: "monserrat";    
    font-size: 1.5rem;
    padding: 0 1rem;
    color: #000000;
    max-width: calc(100% - 2rem);
}

.swal-button-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.swal-button {   
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    background-color: #faff03;
    border-radius: 2rem;
    box-shadow: none;
    padding: 1rem 2rem;
    margin: 0;
    transition: 0.3s;
    cursor: pointer;
}

.swal-button:not([disabled]):hover {
    font-size: 1.3rem;
    background-color: #ff5403;
}


    
    
