.img__carrito {
    width: 3.3rem;
    height: 3.3rem;
    color: #000000;
    box-shadow: 0.5rem 0.5rem 0.5rem #5e0870;
    transition: 0.5s;
    margin-right: 2.5rem;
    margin-bottom: 1rem;
}

.img__carrito:hover {
    width: 4rem;
    height: 4rem;
}

.carrito__carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}