.itemList {
    width: 100%;
    margin: 5rem 0rem 7rem 0rem;
}
    
.leyenda {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0.5rem;
}

.obras {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-template-rows: repeat (40rem);
    justify-content: center;
    gap: 1%;
    margin: 2rem 0rem;
}

@media (max-width: 768px) {
    .itemList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 4rem 0rem 3rem 0rem;
    }
        
    .leyenda {
        margin: 0.3rem;
    }
    
    .obras {
        display: grid;
        grid-template-columns: 15rem 15rem 15rem;
        grid-template-rows: repeat (30rem);
        justify-content: center;
        align-items: center;
        gap: 0.2%;
        margin: 0.5rem 0rem;
    }
}

@media (max-width: 320px) {
    .itemList {
        width: 100%;
        margin: 4rem 0rem 2rem 0rem;
    }
        
    .leyenda {
        font-size: 1rem;
        margin: 0.1rem;
    }
    
    .obras {
        grid-template-columns: 15rem;
        grid-template-rows: repeat (26rem);
        gap: 0.1%;
        margin: 0.3rem 0rem;
    }
}