* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
@font-face {
    font-family: "monserrat";
    src: url(/src/assets/fuentes/montserratmedium.ttf); }
    
.leyenda {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0.5rem;
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.obras {
    display: flex;
    flex-wrap: wrap;
}