.itemList {
    position: absolute;
    top: 16rem;
    width: 100%;
}
    
.leyenda {
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0.5rem;
}

.obras {
    display: grid;
    grid-template-columns: 25rem 25rem 25rem;
    grid-template-rows: repeat (40rem);
    justify-content: center;
    gap: 1%;
    margin: 2rem 0rem;
}
