.tarjetaDetail {
    position: absolute;
    top: 93%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #5e0870 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #5e0870;
    background-color: #f8f3b1;
    width: 30rem;
    height: 44rem;
    padding: 1rem;
    margin-top: -22rem;
    margin-left: -15rem;
}

.imagenDetail {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
}

.textoDetail {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "monserrat";
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5rem;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonAgregar, .botonEliminar {
    font-family: "monserrat";
    font-size: 1.2rem;
    text-align: center;
    color: #f8f3b1;
    background-color: #5e0870;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    transition: 0.5s;
}

.botonAgregar:hover, .botonEliminar:hover {
    font-size: 1.5rem;
    cursor: pointer;
}

.botonInicio {
    font-family: "monserrat";
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    background-color: #faff03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    transition: 0.3s;
}

.botonInicio:hover {
    font-size: 1.5rem;
}

.botonFinalizar {
    font-family: "monserrat";
    font-size: 1.2rem;
    text-align: center;
    color: #f8f3b1;
    background-color: #26cf11;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    transition: 0.3s;
}

.botonFinalizar:hover {
    font-size: 1.5rem;
}

.contador {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
}

.contador__boton {
    font-family: "donau";
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    background-color: #f8f3b1;
    border: solid #5e0870 0.2rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;   
    padding: 0.1rem;
}

.contador__num {
    font-size: 1.5rem;
    font-family: "monserrat";
    font-weight: bold;
    color: #000000;
    padding: 0rem 0.3rem;
    margin: 0rem 0.5rem;
}

