.tarjetaDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #5e0870 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #5e0870;
    background-color: #f8f3b1;
    width: 30rem;
    height: 41rem;
    margin: 5rem 26rem 3rem 26rem;
}

.imagenDetail {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
}

.textoDetail {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "monserrat";
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0.2rem;
}

.botones {
    font-family: "monserrat";
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    background-color: #ff5403;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    padding: 0.5rem;
    margin: 0.2rem 1rem;
    transition: 0.5s;
}

.botonInicio {
    font-family: "monserrat";
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    background-color: #faff03;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    padding: 0.5rem;
    margin: 0.2rem 0rem;
    transition: 0.3s;
}

.botones:hover, .botonInicio:hover {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.spiner {
    padding: 8rem 0rem;
    margin: 8rem 0rem;
}

@media (max-width: 768px) {
    .tarjetaDetail {
        width: 28rem;
        height: 40rem;
        margin: 5rem 10rem 3rem 10rem;
    }
    
    .imagenDetail {
        width: 20rem;
        height: 20rem;
        margin: 0.3rem;
    }
    
    .textoDetail {    
        font-size: 1.5rem;
        margin: 0.2rem;
    }
}
  
@media (max-width: 320px) {
    .tarjetaDetail {
        width: 18rem;
        height: 36rem;
        margin: 5rem 1rem 0rem 1rem;
    }
    
    .imagenDetail {
        width: 16rem;
        height: 16rem;
        margin: 0.1rem;
    }
    
    .textoDetail {    
        font-size: 1.5rem;
        margin: 0.2rem;
    }
}
  