.tarjetaDetail {
    position: absolute;
    top: 93%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #5e0870 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #5e0870;
    background-color: #f8f3b1;
    width: 26rem;
    height: 40rem;
    padding: 1rem;
    margin-top: -20rem;
    margin-left: -13rem;
}

.imagenDetail {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
}

.textoDetail {    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "monserrat";
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5rem;
}

.contDetail {
    margin: 0.5rem;
}

.botonDetail:hover {
    background-color: #faff03;
    color: #000000;
}

.botonFinalizar {
    font-family: "monserrat";
    font-size: 1.2rem;
    text-align: center;
    color: #f8f3b1;
    background-color: #26cf11;
    border: solid #000000 0.2rem;
    border-radius: 0.5rem;  
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    transition: 0.3s;
}

.botonFinalizar:hover {
    font-size: 1.7rem;
}