.tarjeta {
    width: 22rem;
    height: 30rem;
    text-align: center;
    border: solid #000000 0.2rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
    padding: 1rem;
    margin: 1rem;
}

.imagenTarj {
    width: 18rem;
    height: 18rem;
    margin: 0.5rem;
}

.textoTarj {
    display: flex;
    flex-direction: column;
    font-family: "monserrat";
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem;
}

