.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 30rem;
    text-align: center;
    border: solid #000000 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #000000;
    background-color: #f8f3b1;
    padding: 1rem;
    margin: 1rem;
    transition: 0.3s;
}

.imagenTarj {
    width: 18rem;
    height: 18rem;
    margin: 0.5rem;
}

.imagenTarj:hover {
    width: 20rem;
    height: 20rem;
}

.textoTarj {
    display: flex;
    flex-direction: column;
    font-family: "monserrat";
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.botonTarj {
    font-family: "monserrat";
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #faff03;
    border: solid 0.1rem #000000;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 10rem;
    padding: 0.5rem;
    margin:0.2rem;
    transition: 0.3s;
}

.botonTarj:hover {
    font-size: 1.5rem;
    border: solid 0.2rem #000000;
}
