.seccion {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem;
    padding: 1rem 1rem 0rem 1rem;
}
  
.seccion__titulo {
    color: #faff03;
    font-size: 0.1rem;
}
  
.seccion__subtitulo {
    font-family: "donau";
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
    letter-spacing: 2rem;
    margin-bottom: 0.5rem;
}
