.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding: 0.2rem;
    margin: 0.2rem;
}
   
.nav__img {
    width: 10rem;
    height: 10rem;
    margin-left: 1rem;
}

.nav__lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "monserrat";
    font-size: 2rem;
    font-weight: lighter;
    list-style: none;
    width: 100%;
}

a:-webkit-any-link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

a:-webkit-any-link:hover {
    color: #5e0870;
    font-weight: bold;
}


