.footer {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer .footer1 {
    display: flex;
    justify-content: center;
    font-family: "monserrat";
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #000000;
    padding-bottom: 0.5rem; 
}

.footer1Small {
    margin: 0rem 0.3rem;
}

footer .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "monserrat";
    letter-spacing: 1rem;
    padding: 1rem 0rem;
}

footer .footer2__h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    color:black;
    letter-spacing: 0.3rem;
    padding-bottom: 0.5rem;
}

.footer2 img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 1rem;
}

.footer2 img:hover {
    cursor: pointer;
}

.ubicacion {
    display: flex;
    justify-content: center;
    font-family: "monserrat";
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    color: #000000;
    margin-bottom: 0.5rem;
}

.ubicacion img {
    width: 2rem;
    height: 2rem;
    margin: 0rem 1rem 0rem 1rem;
}

.copyright {
    font-family: "monserrat";
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
}