* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "donau";
  src: url(../src/assets/fuentes/donau.otf); }

@font-face {
  font-family: "monserrat";
  src: url(../src/assets/fuentes/montserratmedium.ttf); }

body { 
  background-image: url(../src/assets/imagenes/fondo2.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.seccion {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  padding: 1rem 1rem 0rem 1rem;
}

.seccion__titulo {
  color: #ff5e03;
}

.seccion__subtitulo {
  font-family: "donau";
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  letter-spacing: 2rem;
  margin-bottom: 1rem;
}