* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contador__boton {
    font-family: "donau";
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    background-color: #f8f3b1;
    border: solid #ff5e03 0.2rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;   
    padding: 0.1rem;
}

.contador__num {
    font-size: 1.5rem;
    font-family: "monserrat";
    font-weight: bold;
    color: #000000;
    padding: 0rem 0.3rem;
    margin: 0rem 0.5rem;
}